header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 200px;
}
header img {
  max-width: 15%;
  height: auto;
  margin-right: 30px;
}
header h1 {
  font-size: 40px;
  margin-bottom: 10px;
}
header p {
  font-size: 24px;
  margin-bottom: 10px;
}
header button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
main {
  max-width: 700px;
  margin: 0 auto; 
  text-align: justify; 
  margin-top: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 5px;
}
main h1, main h2, main h3, main p {
  margin-bottom: 20px;
}
main h1 {
  text-align: center;
}
