/* Estilo general */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Estilo de la barra de navegación */
nav {
    background-color: #f2f2f2;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}
nav li {
    margin-right: 20px;
}
nav a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    padding: 25px;
    transition: color 0.3s ease;
}
nav li:first-child {
    flex-basis: 80%;
    flex-grow: 0;
}
nav li:not(:first-child) {
    flex-grow: 0;
}
nav a:hover {
    color: #555;
}
nav ul li {
    padding: 5px 0;
    background-color: transparent;
    transition: background-color 0.3s ease, color 0.3s ease;
}
nav ul li:hover {
    background-color: #f2f2f2;
    color: #333;
}

/* Estilo del main */
main {
    max-width: 600px;
    margin: 0 auto;
    text-align: justify;
    margin-top: 50px;
    margin-bottom: 50px;
}
/* Estilo de la sección de adivinanzas */
#adivinanzaContainer {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    margin: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
#adivinanza {
    font-size: 24px;
    margin-bottom: 20px;
}
#respuestaUsuario {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}
#enviarRespuesta, #cambiarAdivinanza {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}
#enviarRespuesta:hover, #cambiarAdivinanza:hover {
    background-color: #444;
}
#resultado {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

/* Estilo del pie de página */
footer {
    background-color: transparent;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
footer a {
	text-decoration: none;
	color: inherit;
}